{extend name="Public:base" /}
{block name="title"}动态{/block}
{block name="link"}
<style>
.mui-slider-handle img{width: 100px !important;height: 100px !important;}
</style>
{/block}
{block name="body"}
	<div class="mui-content">
		<div style="padding: 10px 10px;">
			<div id="segmentedControl" class="mui-segmented-control">
				<a class="mui-control-item" href="{:url('user/record')}">来访记录</a>
				<a class="mui-control-item mui-active" href="{:url('user/article')}">动态</a>
				<a class="mui-control-item" href="{:url('user/guestbook')}">留言</a>
				<a class="mui-control-item" href="{:url('user/photo')}">相册</a>
			</div>
		</div>
		<div id="ass" style="padding: 10px 10px;">
		<a style="width:100%;" href="{:url('user/article_add')}" class="mui-btn mui-btn-primary">发布动态</a>
		</div>
		<h5 class="mui-content-padded" style="margin: 15px 10px;">左滑可删除</h5>
		<ul id="ajax_guestbook_return" class="mui-table-view">
			{volist name="lists" id="vo"}
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red" href="#" v="{$vo.id}">删除</a>
				</div>
				<div class="mui-slider-handle">
				<a  href="/wap/index/user_art_info/user_id/{:input('session.m_user_auth.id')}.html?art_id={$vo.id}" style="color:inherit;" >
					<em>
					{if condition="$vo.json_img!='/'"}
					<div style="float:left;"><img src="{$vo.json_img}" /></div>
					{/if}
					<div style="float:left;width: 62%;max-height: 105px;">{$vo.esc|mb_substr=###,0,40,'utf-8'}...</div>
					</em>
					<div style="clear:both;"></div>
					<p><em>{$vo.add_time|date='Y-m-d h:s',###}</em>
					{if condition="$vo.back_3==1"}
					<em style="float: right;color:red;font-size: 16px;margin-left: 5px;">[精华]</em>{/if}
					<em style="float: right;">{$vo.com_number}评论/{$vo.p_number}转发</em></p>
				</a>
				</div>
			</li>
			{/volist}
		</ul>
		{notempty name="lists"}
		<div id="getmore" style="font-size:12px;text-align: center;color:#888;padding:.25rem .24rem .4rem; clear:both">
			<a class="mui-btn mui-btn-primary mui-btn-outlined" style="width: 100%;">点击加载更多</a>
		</div>         
		{/notempty}
	</div>
{/block}
{block name="script"}
<script type="text/javascript" charset="utf-8">
	mui(".mui-segmented-control").on('tap','a',function(){
	  var href = this.getAttribute("href");
	  location.href=href;
	})

	mui("#ass").on('tap','a',function(){
	  var href = this.getAttribute("href");
	  location.href=href;
	})
	
	mui.init();
	(function($) {
		$('#ajax_guestbook_return').on('tap', '.mui-btn', function(event) {
			var elem = this;
			var li = elem.parentNode.parentNode;
			var btnArray = ['确认', '取消'];
			mui.confirm('确认删除该条动态？', '通知信息', btnArray, function(e) {
				if (e.index == 0) {
					var id = elem.getAttribute("v");
					mui.ajax('{:url('User/article_del')}',{
						data:{id:id},
						dataType:'json',//服务器返回json格式数据
						type:'post',//HTTP请求类型
						success:function(data){
							if(data.status == 1) {
								mui.toast(data.message);
								li.parentNode.removeChild(li);
							}else{
								mui.toast(data.message);
								return;
							}
						}
					});
				} else {
					setTimeout(function() {
						$.swipeoutClose(li);
					}, 0);
				}
			});
		});
	})(mui);
	
	var  page = 1;
	mui("#getmore").on('tap','a',function(){
	 /*** ajax 提交表单 查询列表结果*/  
	  	
			page += 1;
			mui.ajax('{:url('user/guestbook')}',{
				data:{
					is_ajax:1,
					page:page
				},
				//dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				success:function(data){
					if(data == ''){
						document.getElementById("getmore").classList.add('mui-hidden');
					}else{
						var d = document.getElementById("ajax_guestbook_return").innerHTML;
						document.getElementById("ajax_guestbook_return").innerHTML= d+data;
					}	
					
				}
			});
	 });
</script>
{/block}