{extend name="public:Base" /}

{block name="title"}个人主页-留言{/block}

{block name="css"}

<style>
.news_more_title a{margin-left:5px;}
.news_more_title .news_more_page{float: right;}
#int img{width: 55px;margin: -5px;}
#ts{width:180px;background: #fff;border-radius:10px;margin-left:40px;position:absolute;border:1px solid #000;z-index: 99;display:none}
</style>

{/block}
{block name="body"}

<div class="class_content">
	<div class="class_contnet_left">
    	<div class="class_personalData">
        	<img src="{$obj.img}" width="200" height="200" />
			<div id="int" style="text-align: center;margin-top: -30px;width: 260px;margin-left: -30px;">
				{if condition="$obj.int_number>=0"}
				<img title="1级勋章" src="/public/wap/images/001.png" />{/if}
				{if condition="$obj.int_number>=100"}
				<img title="2级勋章" src="/public/wap/images/002.png" />{/if}
				{if condition="$obj.int_number>=300"}
				<img title="3级勋章" src="/public/wap/images/003.png" />{/if}
				{if condition="$obj.int_number>=600"}
				<img title="4级勋章" src="/public/wap/images/004.png" />{/if}
				{if condition="$obj.int_number>=1000"}
				<img title="5级勋章" src="/public/wap/images/005.png" />{/if}

				<div id="ts" style="">
				账户积分:{$obj.int_number}<br>下一枚勋章所需积分:
				{if condition="$obj.int_number>=1000"}
					{:intval(3000)-$obj.int_number}
				{elseif condition="$obj.int_number>=600"/}
					{:intval(1000)-$obj.int_number}
				{elseif condition="$obj.int_number>=300"/}
					{:intval(600)-$obj.int_number}
				{elseif condition="$obj.int_number>=100"/}
					{:intval(300)-$obj.int_number}
				{elseif condition="$obj.int_number>=0"/}
					{:intval(100)-$obj.int_number}
				{/if}
				</div>
			</div>
            <dt>
			{if $pobj}<a href="javascript:;" onclick="user_vo({$obj.id})" class="dangqian">&nbsp;</a>{/if}
			<strong>{$obj.user_name}</strong>
			&nbsp;&nbsp;&nbsp;{$obj.user_age}岁</dt>
			<dd style="float: right;">{$pobj.back_3}</dd>
            <dl>{$obj.sname}</dl>
			{if $pobj}<dd style="clear: both;">参赛项目：{$pobj.type_name}</dd>{/if}
            
        </div>
		<div class="class_nav" style="margin-top: 30px;">
        	<ul>
            	<li><a href="/index/user/index/user_id/{$obj.id}.html" class="">个人主页</a></li>
                <li><a href="/index/user/gb_index/user_id/{$obj.id}.html" class="dangqian">留&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;言</a></li>
				<li><a href="/index/user/photo_index/user_id/{$obj.id}.html" class="">相&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册</a></li>
            </ul>
        </div>
       <div class="class_statistics">
				<div class="class_statistics_title"><img src="__index__/images/statistics_title.jpg" /></div>
				<div class="class_statistics_tab">
					<ul>
						<li class="statistics_tab_01 dangqian">校区</li>
						<li class="statistics_tab_03">热门</li>
						<li class="statistics_tab_02">社区</li>
					</ul>
				</div>
				<div class="class_statistics_tabContent">
					<ul class="statistics_tabContent_01" style="display:block;">
						
						{volist name="list_school_user" id="vo"}
							<li onclick="javascript:location.href='/index/school/school_info.html?school_id={$vo.sid}';"><span>{$vo.ct}人</span>{$vo.sname}</li>
						{/volist}
						 <a href="/index/lists/index.html" class="more">查看完整排名 &gt;&gt;</a>
					</ul>
					
					<ul class="statistics_tabContent_03" style="display:none;">
						{volist name="list_player_back_3" id="vo"}
							<li onclick="javascript:location.href='/index/user/index.html?user_id={$vo.id}';"><span>{$vo.back_3}人</span>{$vo.user_name}</li>
						{/volist}
						 <a href="/index/lists/index_player.html" class="more">查看完整排名 &gt;&gt;</a>
					</ul>

					<ul class="statistics_tabContent_02" style="display:none;">
						{volist name="list_reg_user" id="vo"}
							<li onclick="javascript:location.href='/index/lists/index_cmm.html';"><span>{$vo.ct}人</span>{$vo.ssname}</li>
						{/volist}
						 <a href="/index/lists/index_cmm.html" class="more">查看完整排名 &gt;&gt;</a>
					</ul>
				</div>
			</div>      
		</div>
    <div class="class_contnet_right">
		
        <div class="homepage_comment" id="pg">
			{if condition="count(json_decode(json_encode($list_gb),true)['data'])>0"}
			{volist name="list_gb_json" id="vo"}
        	<div class="comment_list">
            	<div class="comment_list_left">
                	<img src="{$vo.user_img}" width="50" height="50" />
                    <span></span>
                </div>
                <div class="comment_list_right">
                	<dt>
					<span>{$vo.add_time|date='Y-m-d H:i',###}</span>
					<a>{$vo.user_name}</a>&nbsp;[{$vo.dizhi}]</dt>
                    <dl class="detail-body">{$vo.content}</dl>
					<dd id="rr" style="visibility:hidden">

						<a href="javascript:;" style="padding-left: 10px;" onclick="rep({$vo.id})">举报</a>

					{if $vo.wid==$Think.session.user_auth.id}
						<a href="javascript:;" onclick="com_del({$vo.id})">删除</a>
					{elseif $vo.user_id==$Think.session.user_auth.id /}
						<a href="javascript:;" onclick="del({$vo.id})">删除</a>
					{/if}
					</dd>
                </div>
            </div>
			{/volist}
			<div class="news_more_title">
            	{$list_gb->render()}
				<a href="#" target="_blank"></a>
            </div>
			{else/}
				<div style="width:300px;margin-left: 45%;">没有留言哦，快来成为第一个留言的人吧！</div>
			{/if}
            <div class="comment_message">
				<form action="" method="post" id="plhf" class="layui-form">
					<div class="comment_message_02" style="background-color: #fff;">
						 
						<textarea id="content" name="content" placeholder="输入留言内容" style="height: 200px;"></textarea>

						<input type="hidden" id="uid" name="uid" value="{$obj.id}">

					</div>
					<div class="comment_message_submit">

					<input type="button" class="layui-btn" value="提交留言" lay-filter="sbt" lay-submit/>

					<!--<input type="submit" value="提交留言"/>-->

					</div>
				</form>
        	</div>


        </div> 
		
    </div>
</div>
{/block}
{block name="js"}
{load href="__STATIC__/layui/admin.js" /}
{load href="__STATIC__/layui/layui.js" /}
{load href="__index__/js/user_ha_js.js" /}
<script>
window.onload=function(){
	if(GetQueryString('page')!=null)
	{
		location.href = "#pg";
	}

	$("#int").hover(function (){
		$("#ts").css("display","block");
	},function (){
		$("#ts").css("display","none");
	});
}

function GetQueryString(name)
{
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
}

//Demo
layui.use(['form','layedit'], function(){
  var form = layui.form(),layedit=layui.layedit;

  var ind=layedit.build('content',{
	tool: [
  ,'face' //表情
  //,'image' 插入图片
  ,'|' //分割线
  ,'left' //左对齐
  ,'center' //居中对齐
  ,'right' //右对齐
  ,'link' //超链接
  ,'unlink' //清除链接
  ],
  height:180
  }); //建立编辑器

  //监听提交
  form.on('submit(sbt)', function(data){
	var tt=layedit.getContent(ind);
	var tet=layedit.getText(ind);
    if(tt=='')
	  {
		layer.msg('请输入留言内容');
		return false;
	  }

	if(tet.length>50)
	{
		layer.msg('内容过长，字数限制50个字以内！');
		return false;
	}

	if(tt.length>800)
	{
		layer.msg('内容过长，图片与字数超过限制！');
		return false;
	}

	$.ajax({
		url:"{:url('user/user_art_gb')}",
		type:"post",
		dataType:"json",
		data:{'uid':data.field['uid'],'content':tt},
		success:function(dd){
			layer.msg(dd.msg, function(){
				parent.location.reload();
			});
		}
	})
   
  });


});

 

</script>
{/block}

