{extend name="public:ModelBase" /}
{block name="title"}报名信息{/block}
{block name="right"}

    <div class="layui-tab layui-tab-brief" lay-filter="user">

      <ul class="layui-tab-title" id="LAY_mine">
		<li data-type="mine-jie" lay-id="index"><a href="{:url('usercontrol/index_player')}">报名信息</a></li>
        <li data-type="mine-jie" lay-id="index" class="layui-this">报名表</li>
      </ul>

			<div class="layui-tab-item layui-show"> 
				<blockquote class="layui-elem-quote">填报分类：{$obj.type_name}</blockquote>
			</div>

          <form class="layui-form layui-form-pane"  style="padding: 20px 0;" action="" method="post" id="fid" enctype="multipart/form-data">

		  <div class="layui-form-item" style="{if $obj.maxid!=0}display:block;{else/}display:none;{/if}">
				<label class="layui-form-label">参赛类别</label>
				<div class="layui-input-inline" id="type" style="display:none;">
				<input type="hidden" name="tpid" id="type_id" value="{if $obj.maxid neq 0}2{elseif $obj.minid neq 0 /}3{else/}1{/if}"> 
				  <select name="type" required lay-verify="required" lay-filter="tter" style="width:200px;">
					 <option value="" >请选择</option>
					 {volist name="tlist" id="vo"}
						<option value="{$vo.id}" {if condition="$obj.type eq $vo.id"}selected{/if}>{$vo.name}</option>
					 {/volist}
				  </select>
				</div>
				<div class="layui-input-inline" id="maxid" style="display:{if ($obj.maxid eq 0)}none{else/}block{/if};" >
				  <select name="maxid" lay-filter="maxter" style="width:200px;">
					 <option value="" >请选择</option>
					 {if ($obj.maxid neq 0)}
						{volist name="maxlist" id="vo"}
							<option value="{$vo.id}" {if condition="$obj.maxid eq $vo.id"}selected{/if}>{$vo.name}</option>
						{/volist}
					 {/if}
				  </select>
				</div>
				 <div class="layui-input-inline" id="minid" style="display:{if ($obj.minid eq 0)}none{else/}block{/if};">
				  <select name="minid" lay-filter="minter" style="width:200px;">
					 <option value="" >请选择</option>
					 {if ($obj.minid neq 0)}
						{volist name="minlist" id="vo"}
							<option value="{$vo.id}" {if condition="$obj.minid eq $vo.id"}selected{/if}>{$vo.name}</option>
						{/volist}
					 {/if}
				  </select>
				</div>
			  </div>

			  <div class="layui-form-item">
				<label class="layui-form-label">姓    名</label>
				<div class="layui-input-block">
				  <input type="text" name="user_name" placeholder="请输入名称"  value="{$obj.user_name}" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item" pane>
				<label class="layui-form-label">性    别</label>
				<div class="layui-input-block">
					<input type="radio" name="user_sex" value="男" title="男" {if ($obj.user_sex eq '男')}checked{/if}>
					<input type="radio" name="user_sex" value="女" title="女" {if ($obj.user_sex eq '女')}checked{/if}>
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">年    龄</label>
				<div class="layui-input-block">
				  <input type="text" name="user_age" placeholder="请输入年龄" value="{$obj.user_age}" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">民    族</label>
				<div class="layui-input-block">
				  <input type="text" name="race" placeholder="请输入民族"  value="{$obj.race}" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  
			   <div class="layui-form-item">
				<label class="layui-form-label">出生日期</label>
				<div class="layui-input-block">
				<div class="layui-input-inline">
				  <input class="layui-input" name="user_birth" placeholder="选择时间" value="{$obj.user_birth|date='Y-m-d',###}" readonly onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD'})">
				  </div>
				  <div class="layui-form-mid layui-word-aux">如:2017-07-07</div>
				</div>
			  </div>
			  <div class="layui-form-item" pane>
				<label class="layui-form-label">照    片</label>
				<div class="layui-input-block">
					<input type="file" name="img" onChange="handleFiles(this,'id_img_1')" style="display:none;">
					<a class="layui-btn" onclick="getfile()" style="background-color: #ffffff;color: #191616;">
					<i class="layui-icon">&#xe608;</i> 选择图片
					</a>
					<a style="color:#777;font-size: 15px;">注：一寸彩色正面照片</a>
				</div>
				<div class="layui-input-block" id="id_img_1" style="padding-left: 20px;">
					<img style="width:200px" src="{$obj.img}"/>
				</div>
			  </div>
			  <div class="layui-form-item" pane>
				<label class="layui-form-label">所属状态</label>
				<div class="layui-input-block">
					<input type="radio" lay-filter="adi" name="tp" value="1" title="在校"{if ($obj.back_4 eq 1)}checked{/if}>
					<input type="radio" lay-filter="adi" name="tp" value="0" title="社会" {if ($obj.back_4==0)}checked{/if}>
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label" id="tp_name">所属学校</label>
				<div class="layui-input-inline" id="pid">
				  <select name="pid" required lay-verify="required" lay-filter="pir" style="width:200px;">
					 <option value="" >请选择</option>
					 {volist name="plist" id="pj"}
						<option value="{$pj.id}" {if condition="$obj.pid eq $pj.id"}selected{/if}>{$pj.name}</option>
					 {/volist}
				  </select>
				</div>
				<div class="layui-input-inline" id="cid" style="display:none;">
				  <select name="cid" lay-filter="cit" style="width:200px;">
					 <option value="" >请选择</option>
					 {if ($obj.pid neq 0)}
						{volist name="clist" id="cj"}
							<option value="{$cj.id}" {if condition="$obj.cid eq $cj.id"}selected{/if}>{$cj.name}</option>
						{/volist}
					 {/if}
				  </select>
				</div>
				 <div class="layui-input-inline" id="sid" style="display:{if ($obj.back_4 eq 0)}none{else/}block{/if};">
				  <select name="sid" lay-filter="sih" style="width:200px;">
					 <option value="" >请选择</option>
					 {if ($obj.pid neq 0)}
						{volist name="slist" id="sj"}
							<option value="{$sj.id}" {if condition="$obj.sid eq $sj.id"}selected{/if}>{$sj.name}</option>
						{/volist}
						<option value='0'>其他</option>
					 {/if}
					 
				  </select>
				</div>
				<div class="layui-input-inline" id="ssid" style="display:{if ($obj.back_4 eq 0&&$obj.sid==1)}block{else/}none{/if};">
				  <select name="ssid" lay-filter="ssih" style="width:200px;">
					 <option value="" >请选择</option>
					 {if ($obj.pid neq 0)}
						{volist name="sslist" id="sj"}
							<option value="{$sj.id}" {if condition="$obj.ssid eq $sj.id"}selected{/if}>{$sj.name}</option>
						{/volist}
						<option value='0'>其他</option>
					 {/if}
					 
				  </select>
				</div>
			  </div>
			  <div class="layui-form-item" id="school_id" style="display:{if ($obj.back_4==1&&$obj.sid==0)}block{else/}none{/if};">
				<label class="layui-form-label">学校名称</label>
				<div class="layui-input-block">
				  <input type="text" name="school_name" value="{$obj.sname}" placeholder="请输入所属学校名称" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item" id="xx_id" style="display:{if ($obj.back_4==0&&$obj.ssid==0)}block{elseif ($obj.back_4==1)/}block{else/}none{/if};">
				<label class="layui-form-label">所属详细</label>
				<div class="layui-input-block">
				  <input type="text" name="unit" placeholder="{if ($obj.back_4==0)}请输入所属的工作单位名称{else/}请输入所属学校的院,系,级信息{/if}"  value="{$obj.unit}" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">通讯地址</label>
				<div class="layui-input-block">
				  <input type="text" name="site" placeholder="请输入学校或者单位地址"  value="{$obj.site}" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">手机号码</label>
				<div class="layui-input-block">
				  <input type="text" name="tel" placeholder="请输入手机号码"  value="{$obj.tel}" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">指导老师</label>
				<div class="layui-input-block">
				  <input type="text" name="teacher" placeholder="请输入指导老师"  value="{$obj.teacher}" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">邮政编码</label>
				<div class="layui-input-block">
				  <input type="text" name="postcode" placeholder="请输入邮政编码"  value="{$obj.postcode}" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item layui-form-text" id="tt1" style="{if $obj.type==28}display:none;{else/}display:block;{/if}" >
				<label class="layui-form-label">{if condition="$obj.type==1"}参赛人员{elseif condition="$obj.type==27"/}主创人员简介{else/}选手简介{/if}</label>
				<div class="layui-input-block">
				  <textarea name="esc" placeholder="请输入{if condition="$obj.type==1"}参赛人数及姓名{elseif condition="$obj.type==27"/}主创人员简介{else/}选手简介{/if}" class="layui-textarea" value="{$obj.esc}">{$obj.esc}</textarea>
				</div>
			  </div>
				<div class="layui-form-item" pane>
				<label class="layui-form-label">身份证正面照</label>
				<div class="layui-input-block">
					<input type="file" name="idcard_img" onChange="handleFiles(this,'id_img_2')" style="display:none;">
					<a class="layui-btn" onclick="getfile_2()" style="background-color: #ffffff;color: #191616;">
					<i class="layui-icon">&#xe608;</i> 选择文件
					</a>
					<a style="color:#777;font-size: 15px;">注：多人请将照片压缩成rar或zip格式上传</a>
				</div>
				<div class="layui-input-block" id="id_img_2" style="padding-left: 20px;">
					{if condition="strpos($obj.user_idcard_img,'.zip')"}<a href="{$obj.user_idcard_img}" target="_blank" style="font-size: 15px;">下载查看</a>
					{elseif condition="strpos($obj.user_idcard_img,'.rar')"/}<a href="{$obj.user_idcard_img}" target="_blank" style="font-size: 15px;">下载查看</a>
					{else/}<img style="width:200px" src="{$obj.user_idcard_img}"/>
					{/if}
				</div>
			  </div>

			   <div class="layui-form-item" id="tt2">
				<label class="layui-form-label">{if condition="$obj.type==1"}节目名称{elseif condition="$obj.type==27"/}电影名{elseif condition="$obj.type==28"/}动漫创意作品名称{else/}作品名称{/if}</label>
				<div class="layui-input-block">
				  <input type="text" name="wname" placeholder="请输入{if condition="$obj.type==1"}节目名称{elseif condition="$obj.type==27"/}电影名{elseif condition="$obj.type==28"/}动漫创意作品名称{else/}作品名称{/if}"  value="{$obj.wname}" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item layui-form-text" id="tt3" style="{if condition="$obj.type==22"}display:none;{else/}display:block;{/if}" >
				<label class="layui-form-label">{if condition="$obj.type==1"}节目简介{elseif condition="$obj.type==27"/}剧本简介{elseif condition="$obj.type==31"/}作品简介及创作思路{else/}作品简介{/if}</label>
				<div class="layui-input-block">
				  <textarea name="intro" placeholder="请输入{if condition="$obj.type==1"}节目简介{elseif condition="$obj.type==27"/}剧本简介{elseif condition="$obj.type==31"/}作品简介及创作思路{else/}作品简介{/if}" class="layui-textarea"  value="{$obj.intro}">{$obj.intro}</textarea>
				</div>
			  </div>
				<div class="layui-form-item layui-form-text" style="{if condition="$obj.type==27 or $obj.type==28 or $obj.type==31"}display:block;{else/}display:none;{/if}" >
				<label id="dsb" class="layui-form-label" style="width: 100% !important;    font-size: 18px;">
				{if ($obj.maxid=='29')}
				
					注：9月30日截止投稿，请提交电子档作品至官方指定邮箱。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>
				{elseif($obj.maxid=='30')/}
					注：9月30日截止投稿，请提交纸质档作品至官方指定地址。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>
				{elseif($obj.maxid=='40')/}
					注：9月30日截止投稿，请提交纸质档和电子档作品各一份至官方指定邮箱与地址。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>
				{elseif($obj.maxid=='41')/}
					注：9月30日截止投稿，请提交纸质档作品至官方指定地址。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>
				{elseif($obj.maxid=='38')/}
					注：9月30日截止投稿，请提交纸质档作品至官方指定地址。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>
				{elseif($obj.maxid=='39')/}
					注：9月30日截止投稿，请提交纸质档作品至官方指定地址。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>
				{elseif condition="$obj.type==27"/}
						注：10月20日截止投稿，请提交剧本（纸质档和电子档各一份）至官方指定邮箱和地址。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>
				{elseif condition="$obj.type==28"/}
						注：9月30日截止投稿，请提交(动漫：电子档/漫画：纸质档)作品至官方指定邮箱。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>
				{elseif condition="$obj.type==31"/}
						注：9月30日截止投稿 请提交(文学：电子档纸质档各一份/书法，绘画，摄影：纸质档)作品寄送至官方指定地址&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>	
				{/if}
				
				
				
				</label>
			  </div>

			  <div class="layui-form-item">
				<label class="layui-form-label">推荐单位</label>
				<div class="layui-input-block">
				  <input type="text" name="rec" placeholder="请输入推荐单位"  value="{$obj.rec}" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">推荐单位联系人及电话</label>
				<div class="layui-input-block">
				  <input type="text" name="rectel" placeholder="请输入联系人及电话"  value="{$obj.rectel}" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item" pane>
				<label class="layui-form-label">是否公开</label>
				<div class="layui-input-block">
					<input type="radio" name="so_open" value="1" title="是" {if ($obj.so_open eq 1)}checked{/if}>
					<input type="radio" name="so_open" value="0" title="否" {if ($obj.so_open eq 0)}checked{/if} >
				</div>
			  </div>
			  {if $obj.status==2}
			  <div class="layui-form-item layui-form-text" >
				<label class="layui-form-label">未通过审核原因</label>
				<div class="layui-input-block">
				      <textarea name="back_1" placeholder="请输入作品简介" class="layui-textarea"  value="{$obj.back_1}" readonly>{$obj.back_1}</textarea>
				</div>
			  </div>
			  {/if}
              <div class="layui-form-item">
                <button class="layui-btn" key="set-mine" lay-filter="*" lay-submit>确认修改</button>
              </div>
            </form>
          </div>
          
  
    </div>
{/block}

{block name="js"}
<script>

function getfile(){
	return  $("input[name='img']").click();
}

function getfile_2(){
	return  $("input[name='idcard_img']").click();
}

window.URL = window.URL || window.webkitURL;
	function handleFiles(obj,id_img) {
		
			fileList = document.getElementById(id_img);
			var files = obj.files;

			if(id_img=="id_img_2")
			{
				var photoExt=obj.value.substr(obj.value.lastIndexOf(".")).toLowerCase();//获得文件后缀名
					if(photoExt=='.rar'||photoExt=='.zip'){
						fileList.innerHTML="";
						fileList.append("   已选择文件："+obj.value);
						return false;
					}
			}

			img = new Image();
			if(window.URL){	
				img.src = window.URL.createObjectURL(files[0]); //创建一个object URL，并不是你的本地路径
				img.className = "lay-img";
				img.style="width:200px";
				img.onload = function(e) {
					window.URL.revokeObjectURL(this.src); //图片加载后，释放object URL
				}
				if(fileList.firstElementChild){
					 // fileList.removeChild(fileList.firstElementChild);
					fileList.innerHTML="";
				} 
				fileList.appendChild(img);
			}else if(window.FileReader){
				//opera不支持createObjectURL/revokeObjectURL方法。我们用FileReader对象来处理
				var reader = new FileReader();
				reader.readAsDataURL(files[0]);
				reader.onload = function(e){	
						img.src = this.result;
						img.className = "lay-img";
						// fileList.removeChild(fileList.firstElementChild);
					fileList.innerHTML="";
						fileList.appendChild(img);
				}
			}else
			{
				//ie
				obj.select();
				obj.blur();
				var nfile = document.selection.createRange().text;
				document.selection.empty();
				img.src = nfile;
				img.className = "lay-img";
				// fileList.removeChild(fileList.firstElementChild);
					fileList.innerHTML="";
				fileList.appendChild(img);
			}
		
	}

layui.use('form', function(){
  var form = layui.form();

  form.on('radio(adi)', function(data){
	if(data.value=='0')
	{
		$("#sid").css('display','none');
		$("#school_id").css('display','none');

		$("#ssid").css('display','block');
		$("#xx_id").css('display','none');

		$("#tp_name").html('所属地区');
		$("input[name='unit']").prop('placeholder','请输入所属的工作单位名称');
	}
	else
	{
		$("#sid").css('display','block');
		$("#ssid").css('display','none');
		$("#xx_id").css('display','block');
		$("#tp_name").html('所属学校');
		$("input[name='unit']").prop('placeholder','请输入所属校区的院,系,级信息');
	}
  });  

  //监听开关
  form.on('switch(stch)', function(data){
	
	if(data.elem.checked)
	{
		$("#stch").prop('value','1');
	}else{
		$("#stch").prop('value','0');
	}

  }); 
  
  //监听下拉
  form.on('select(pir)', function(data){
		/*$.ajax({
			url:"{:url('usercontrol/getregc')}",
			type:"post",
			dataType:"json",
			data:{pid:$(data.elem).val()},
			error:function(){
				layer.msg('数据传输错误');
			},
			success:function(dd){
				$("#cid").children('select').empty();
				var aa="<option value='' selected>请选择</option>";
				$.each(dd.ls,function (key,value) {
				   aa+="<option value='"+value.id+"'>"+value.name+"</option>";
				});
				$("#cid").children('select').append(aa);
				form.render('select');

			}
		});*/

		if($("input[name='tp']:checked").val()=='1')
		{
			$.ajax({
				url:"{:url('usercontrol/getshool_p')}",
				type:"post",
				dataType:"json",
				data:{pid:$(data.elem).val()},
				error:function(){
					layer.msg('数据传输错误');
				},
				success:function(dd){
					$("#sid").children('select').empty();
					var aa="<option value='' selected>请选择</option>";
					$.each(dd.ls,function (key,value) {
					   aa+="<option value='"+value.id+"'>"+value.name+"</option>"; 
					});
					aa+="<option value='0'>其他</option>";
					$("#sid").children('select').append(aa);
					 form.render('select');
				}
			});

		}else{
			$.ajax({
				url:"{:url('usercontrol/getss_p')}",
				type:"post",
				dataType:"json",
				data:{pid:$(data.elem).val()},
				error:function(){
					layer.msg('数据传输错误');
				},
				success:function(dd){
					$("#ssid").children('select').empty();
					var aa="<option value='' selected>请选择</option>";
					$.each(dd.ls,function (key,value) {
					   aa+="<option value='"+value.id+"'>"+value.name+"</option>"; 
					});
					aa+="<option value='0'>其他</option>";
					$("#ssid").children('select').append(aa);
					form.render('select');
				}
			});
		
		}


	}); 
	
	form.on('select(cit)', function(data){

		if($("input[name='tp']:checked").val()=='1')
		{
			$.ajax({
				url:"{:url('usercontrol/getshool')}",
				type:"post",
				dataType:"json",
				data:{cid:$(data.elem).val()},
				error:function(){
					layer.msg('数据传输错误');
				},
				success:function(dd){
					$("#sid").children('select').empty();
					var aa="<option value='' selected>请选择</option>";
					$.each(dd.ls,function (key,value) {
					   aa+="<option value='"+value.id+"'>"+value.name+"</option>"; 
					});
					aa+="<option value='0'>其他</option>";
					$("#sid").children('select').append(aa);
					 form.render('select');
				}
			});

		}

	});

	form.on('select(sih)', function(data){
		if(data.value=='0')
		{
			$("#school_id").css('display','block');
			
		}
		else
		{
			$("#school_id").css('display','none');
			
		}

	  });

	  form.on('select(ssih)', function(data){
		if(data.value=='0')
		{
			$("#xx_id").css('display','block');
			
		}
		else
		{
			$("#xx_id").css('display','none');
			
		}

	  });


	//比赛分类
	form.on('select(tter)', function(data){
		$.ajax({
			url:"{:url('usercontrol/gettp')}",
			type:"post",
			dataType:"json",
			data:{pid:$(data.elem).val()},
			error:function(){
				layer.msg('数据传输错误');
			},
			success:function(dd){
				if(dd.ls!='')
				{
					$("#type_id").prop('value','2');
					$("#maxid").css('display','block');
					$("#minid").css('display','none');

					$("#maxid").children('select').empty();
					var aa="<option value='' selected>请选择</option>";
					$.each(dd.ls,function (key,value) {
					   aa+="<option value='"+value.id+"'>"+value.name+"</option>";
					});
					$("#maxid").children('select').append(aa);
					form.render('select');
				}else{
					$("#type_id").prop('value','1');
					$("#maxid").css('display','none');
					$("#minid").css('display','none');
				}
			}
		});

	}); 

	form.on('select(maxter)', function(data){

		var tt=$(data.elem).val();
		if(tt=='29')
		{
			$("#dsb").html("注：9月30日截止投稿，请提交电子档作品至官方指定邮箱。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>");
		}else if(tt=='30'){
			$("#dsb").html("注：9月30日截止投稿，请提交纸质档作品至官方指定地址。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>");
		}else if(tt=='40'){
			$("#dsb").html("注：9月30日截止投稿，请提交纸质档和电子档作品各一份至官方指定邮箱与地址。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>");
		}else if(tt=='41'){
			$("#dsb").html("注：9月30日截止投稿，请提交纸质档作品至官方指定地址。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>");
		}else if(tt=='38'){
			$("#dsb").html("注：9月30日截止投稿，请提交纸质档作品至官方指定地址。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>");
		}else if(tt=='39'){
			$("#dsb").html("注：9月30日截止投稿，请提交纸质档作品至官方指定地址。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>");
		}

		$.ajax({
			url:"{:url('usercontrol/gettp')}",
			type:"post",
			dataType:"json",
			data:{pid:$(data.elem).val()},
			error:function(){
				layer.msg('数据传输错误');
			},
			success:function(dd){
				if(dd.ls!='')
				{
					$("#type_id").prop('value','3');
					$("#minid").css('display','block');

					$("#minid").children('select').empty();
					var aa="<option value='' selected>请选择</option>";
					$.each(dd.ls,function (key,value) {
					   aa+="<option value='"+value.id+"'>"+value.name+"</option>";
					});
					$("#minid").children('select').append(aa);
					form.render('select');
				}else{
					$("#type_id").prop('value','2');
					$("#minid").css('display','none');
				}
			}
		});

	});

  //监听提交
  form.on('submit(formDemo)', function(data){

	  if(data.field['tp']=="1"&&data.field['sid']=='')
	  {
		 
			layer.msg("请选择学校");
			return false;
		
	  }

	  if(data.field['tpid']==3)
	  {
			if(data.field['type']==''||data.field['maxid']==''||data.field['minid']=='')
			  {
				 
					layer.msg("请确定比赛分类");
					return false;
				
			  }
	  }else if(data.field['tpid']==2)
	  {
			if(data.field['type']==''||data.field['maxid']=='')
			  {
				 
					layer.msg("请确定比赛分类");
					return false;
				
			  }
	  }

	  var r=/^[0-9]+.?[0-9]*$/;
	  if(!r.test(data.field['user_age'])){
		  layer.msg("年龄只能输入数字");
		  return false;
      }

	  if(isNaN(data.field['postcode'])){
		  layer.msg("邮政编码错误");
		  return false;
      }

	  var r=/^1[0-9]\d{9}$/;
	  if(!r.test(data.field['tel'])){
		  layer.msg("手机号码错误");
		  return false;
      }

  });
});
</script>
{/block}


