{extend name="public:base"/}
{block name="body"}
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
  <ul class="layui-tab-title">
    <li onclick="javascript:window.location.href='{:url('broadcast/index')}'">直播列表</li>
    <li class="layui-this">修改直播</li>
  </ul>
</div> 
<form class="layui-form" action="" method="post" id="fid" enctype="multipart/form-data">
<input type="hidden" name="aid" value="{$nobj.id}">
  <div class="layui-form-item" style="width:600px">
    <label class="layui-form-label">直播名称</label>
    <div class="layui-input-block">
      <input type="text" name="aname" lay-filter="aname" required lay-verify="required" placeholder="请输入账号" value="{$nobj.title}" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item" style="width:600px">
    <label class="layui-form-label">图片</label>
    <div class="layui-input-block">
		<input type="file" name="img" onChange="handleFiles(this)" style="display:none;">
		<a class="layui-btn" onclick="getfile()" style="background-color: #ffffff;color: #191616;">
		<i class="layui-icon">&#xe608;</i> 选择图片
	  </a>
    </div>
	<div class="layui-input-block" id="id_img">
		<img style="width:200px" src="{$nobj.img}"/>
    </div>
  </div>
  <div class="layui-form-item" style="width:600px">
    <label class="layui-form-label">直播链接</label>
    <div class="layui-input-block">
      <textarea name="url" placeholder="请输入直播跳转链接"  value="{$nobj.url}" class="layui-textarea"> {$nobj.url}</textarea>
    </div>
  </div>
  <div class="layui-form-item" style="width:600px">
    <label class="layui-form-label">页面关键字</label>
    <div class="layui-input-block">
      <textarea name="keywords" placeholder="请输入关键字" class="layui-textarea">{$nobj.keywords}</textarea>
    </div>
  </div>
  <div class="layui-form-item" style="width:600px">
    <label class="layui-form-label">页面描述</label>
    <div class="layui-input-block">
      <textarea name="description" placeholder="请输入描述" class="layui-textarea">{$nobj.description}</textarea>
    </div>
  </div>
  <div class="layui-form-item" style="width:800px;display:none;">
    <label class="layui-form-label">直播内容</label>
    <div class="layui-input-block">
      <textarea id="content" name="content" > {$nobj.content}</textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">是否推荐</label>
    <div class="layui-input-block">
	  <input type="hidden" name="checks" id="checks" value="0">
       <input type="checkbox" name="check[]" {if $nobj.back_1==1}checked{/if}  value="1" lay-filter="check1" title="首页推荐" >
	
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">启用</label>
    <div class="layui-input-block">
	  <input type="hidden" name="stch" id="stch" value="{$nobj.status}"> 
      <input type="checkbox" lay-text="yes|no" lay-filter="stch" value="1" name="switch" {if ($nobj.status eq 1)}checked{/if} lay-skin="switch">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <input type="button" class="layui-btn" lay-submit lay-filter="formDemo" value="立即提交" />
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>

{/block}
{block name="js"}
{load href="__JS__/jquery.js" /}
<script src="_admin_/ueditor/ueditor.config.js"></script>
<script src="_admin_/ueditor/ueditor.all.min.js"></script>
<script src="_admin_/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
//实例化编辑器
//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
UE.getEditor('content',{initialFrameWidth:800,initialFrameHeight:400,});
function getfile(){
	return  $("input[type='file']").click();
}
window.URL = window.URL || window.webkitURL;
	function handleFiles(obj) {
		
			fileList = document.getElementById("id_img");
			var files = obj.files;
			img = new Image();
			if(window.URL){	
				img.src = window.URL.createObjectURL(files[0]); //创建一个object URL，并不是你的本地路径
				img.className = "lay-img";
				img.style="width:200px";
				img.onload = function(e) {
					window.URL.revokeObjectURL(this.src); //图片加载后，释放object URL
				}
				if(fileList.firstElementChild){
					 fileList.removeChild(fileList.firstElementChild);
				} 
				fileList.appendChild(img);
			}else if(window.FileReader){
				//opera不支持createObjectURL/revokeObjectURL方法。我们用FileReader对象来处理
				var reader = new FileReader();
				reader.readAsDataURL(files[0]);
				reader.onload = function(e){	
						img.src = this.result;
						img.className = "lay-img";
						fileList.appendChild(img);
				}
			}else
			{
				//ie
				obj.select();
				obj.blur();
				var nfile = document.selection.createRange().text;
				document.selection.empty();
				img.src = nfile;
				img.className = "lay-img";
				img.onload=function(){
				  
				}
				fileList.appendChild(img);
			}
		
	}

//Demo
layui.use(['form'], function(){
  var form = layui.form();

  form.on('radio(adi)', function(data){
	if(data.value=='2')
	{
		$("#sid").css('display','none');
	}
	else
	{
		$("#sid").css('display','block');
	}
  });  

  //监听开关
  form.on('switch(stch)', function(data){
	
	if(data.elem.checked)
	{
		$("#stch").prop('value','1');
	}else{
		$("#stch").prop('value','0');
	}

  }); 


  //监听提交
  form.on('submit(formDemo)', function(data){
	  if(data.field['check[]']==null){
		$("#checks").prop('value','0');
	  }else{
		$("#checks").prop('value','1');
	  }

	  $.ajax({
		url:"{:url('broadcast/cf')}",
		type:"post",
		dataType:"json",
		data:{aname:data.field['aname'],aid:data.field['aid']},
		success:function(dd){
			if(dd.e>0)
			{
				layer.msg("该名称直播资讯已存在");
				return false;
			}
			else
			{
				$("#fid").submit();
			}
		}
	  });

  });
});
</script>
{/block}