{extend name="public:base" /}
{block name="body"}
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
  <ul class="layui-tab-title">
    <li onclick="javascript:window.location.href='{:url('article/art_list')}'">用户动态</li>
	<li class="layui-this">动态浏览</li>
  </ul>
</div> 
<blockquote class="layui-elem-quote layui-quote-nm">
<label class="layui-form-label">搜索：</label>
<form action="{:url('',['page'=>1])}" method="post"  >
<input type="hidden" name="aid" value="{$aid}">
<input class="layui-input" name="times" placeholder="选择时间" style="width: 20%;float: left;" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD'})">
<input type="submit" class="layui-btn" value="搜索" style="margin-left: 15px;" lay-filter="formDemo" >
</form>
</blockquote>
<table class="layui-table" lay-even>
  <thead>
    <tr>
      <th>ID</th>
      <th>浏览时间</th>
      <th>浏览IP</th>
	  <th>用户名称</th>
	  <th>状态</th>
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
	{volist name='alist' id='vo'}
    <tr>
      <th>{$i}</th>
      <td>{$vo.add_time|date="y-m-d h:s",###}</td>
      <td>{$vo.ip}</td>
	  <td>{$vo.user_name}</td>
	  <td><input type="checkbox" lay-filter="yyy" lay-skin="switch" id="{$vo.id}" lay-text="yes|no" {if ($vo.status eq 1)}checked{/if}></td>
      <td >
		  <dl class="layui-btn-group">
			  <a onclick="del({$vo.id})" class="layui-btn">删除</a>
			  </dl>
		  </td>
		</tr>
	
    {/volist}
  </tbody>
</table>
{$alist->render()}
{/block}
{block name="js"}
{load href="__JS__/jquery.js" /}
<script type="text/javascript">
  layui.use(['laypage', 'layer','laydate'], function(){
	var laypage=layui.laypage;
	
	form.on('switch(yyy)', function(data){
	var iii=0;
	  if(data.elem.checked)
		{
			iii=1;
		}
		else
		{
			iii=0;
		}
		$.ajax({
			url:"{:url('article/z_update')}",
			type:"post",
			dataType:"json",
			data:{aid:data.elem.id,stt:iii},
			success:function(dd){
				if(dd.codo>0){
					layer.msg(dd.msg);
				}else{
					layer.msg(dd.msg, function(){
						parent.location.reload();
					});
				}
			}
		});  
});

	function del(id)
	{
			layer.confirm('删除之后不可恢复，是否继续执行？', {
			  btn: ['继续', '取消'],
			  icon: 2,
			  btn1:function(index, layero){
					$.ajax({
					url:"{:url('article/z_delete')}",
					type:"post",
					dataType:"json",
					data:{aid:id},
					success:function(dd){
						layer.msg(dd.e, function(){
							parent.location.reload();
						});
					}

				});
			 }
			});

	}

</script>
{/block}