{extend name="Public:base" /}
{block name="title"}参赛选手{/block}
{block name="link"}
<style>
</style>
{/block}
{block name="header_left"}<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>{/block}
{block name="body"}
	<div class="mui-content">
		<div style="padding: 10px 10px;">
			<div id="segmentedControl" class="mui-segmented-control">
				<a class="mui-control-item mui-active" href="{:url('lists/list_player')}">选手排名</a>
				<a class="mui-control-item" href="{:url('lists/list_school')}">校区排名</a>
				
			</div>
		</div>

		<ul id="ajax_school_info_return" class="mui-table-view mui-grid-view mui-grid-9">
		{volist name="list_all" id="vo"}
			<li class="mui-table-view-cell mui-media" style="width: 50%;max-width: 160px;">
				<a href="{:url('index/user',['user_id'=>$vo.id])}">
					<span>
					<img src="{$vo.img}"/>
					<a style="background-color: #5f686999;position: relative;margin-top: -40px;color: #fff;font-size:14px;height: 25px;padding-top: 3px;">支持:{$vo.look}</a>
					</span>
					<div class="mui-media-body">{$vo.user_name}</div>
				</a>
			</li>
		{/volist}
		</ul>

		{notempty name="list_all"}
		<div id="getmore" style="font-size:12px;text-align: center;color:#888;padding:.25rem .24rem .4rem; clear:both">
			<a>点击加载更多</a>
		</div>         
		{/notempty}
	</div>
{/block}
{block name="script"}
<script type="text/javascript" charset="utf-8">
	mui(".mui-segmented-control").on('tap','a',function(){
	  var href = this.getAttribute("href");
	  location.href=href;
	})
	
	var  page = 1;
	mui("#getmore").on('tap','a',function(){
	 /*** ajax 提交表单 查询列表结果*/  
	  	
			page += 1;
			mui.ajax('{:url('lists/list_player')}',{
				data:{
					is_ajax:1,
					page:page
				},
				//dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				success:function(data){
					if(data == ''){
						document.getElementById("getmore").classList.add('mui-hidden');
					}else{
						var d = document.getElementById("ajax_school_info_return").innerHTML;
						document.getElementById("ajax_school_info_return").innerHTML= d+data;
					}	
					
				}
			});
	 });
</script>
{/block}