{extend name="public:Base" /}

{block name="title"}{$type_name}大赛报名{/block}


{block name="css"}
{load href="__STATIC__/layui/css/layui.css" /}
<style>
	.acti{border:1px solid #ccc;background:#eee;padding:20px;border-radius:10px;width: 60%;margin-left: 20%;margin-top: 25px;margin-bottom: 25px;}
	.layui-form-item span{color:#000;}
	.layui-form-label{width:200px !important}
	.layui-input-block{margin-left:200px !important}


</style>
{/block}
{block name="body"}


	<div class="box_rig rig" style="position: relative;">
		<div class="acti">

			<div class="layui-tab-item layui-show"> 
				<blockquote class="layui-elem-quote">填报分类：{$type_name}</blockquote>
			</div>

			<form class="layui-form layui-form-pane"  style="padding: 20px;background:#fff;border-radius:10px;" action="" method="post" id="fid" enctype="multipart/form-data">

			<div class="layui-form-item" style="{if $ls!=0}display:block;{else/}display:none;{/if}">

				<label class="layui-form-label">参选类别</label>
				<div class="layui-input-inline" id="type" style="{if $ls!=0}display:none;{/if}">
				<input type="hidden" name="tpid" id="type_id" value="{if $ls!=0}2{else/}1{/if}"> 
				  <select name="type" required lay-verify="required" lay-filter="tter" style="width:200px;">
					 <option value="" >请选择</option>
					 {volist name="tlist" id="vo"}
						<option value="{$vo.id}" {if condition="$type_id eq $vo.id"}selected{/if} >{$vo.name}</option>
					 {/volist}
				  </select>
				</div>
				<div class="layui-input-inline" id="maxid" style="{if $ls!=0}display:block;{else/}display:none;{/if}" >
				  <select name="maxid" lay-filter="maxter" style="width:200px;">
					 <option value="" >请选择</option>
					 {if $ls!=0}
					  {volist name="ls" id="vo"}
						<option value="{$vo.id}" >{$vo.name}</option>
					  {/volist}
					 {/if}
				  </select>
				</div>
				 <div class="layui-input-inline" id="minid" style="display:none;">
				  <select name="minid" lay-filter="minter" style="width:200px;">
					 <option value="" >请选择</option>
				  </select>
				</div>
			  </div>

			  <div class="layui-form-item">
				<label class="layui-form-label">姓    名</label>
				<div class="layui-input-block">
				  <input type="text" name="user_name" placeholder="请输入名称" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item" pane>
				<label class="layui-form-label">性    别</label>
				<div class="layui-input-block">
					<input type="radio" name="user_sex" value="男" title="男" checked>
					<input type="radio" name="user_sex" value="女" title="女" >
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">年    龄</label>
				<div class="layui-input-block">
				  <input type="text" name="user_age" placeholder="请输入年龄"  required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">民    族</label>
				<div class="layui-input-block">
				  <input type="text" name="race" placeholder="请输入民族" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  
			   <div class="layui-form-item">
				<label class="layui-form-label">出生日期</label>
				<div class="layui-input-block">
				<div class="layui-input-inline">
				  <input class="layui-input" required lay-verify="required" name="user_birth" placeholder="选择时间" readonly onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD'})">
				  </div>
				  <div class="layui-form-mid layui-word-aux">如:2017-07-07</div>
				</div>
			  </div>
			  <div class="layui-form-item" pane>
				<label class="layui-form-label">照    片</label>
				<div class="layui-input-block">
					<input type="file" name="img" onChange="handleFiles(this,'id_img_1')" style="display:none;">
				  <a class="layui-btn" onclick="getfile()" style="background-color: #ffffff;color: #191616;">
					<i class="layui-icon">&#xe608;</i> 选择图片
				  </a>
				  <a style="color:#777;font-size: 15px;">注：一寸彩色正面照片(限4M内,仅支持jpg,png,jpeg三种格式)</a>
				</div>
				<div class="layui-input-block" id="id_img_1" style="padding-left: 20px;">
					<img style="width:200px" src="/public/index/user/user_img.png"/>
				</div>
			  </div>
			 <div class="layui-form-item" pane>
				<label class="layui-form-label">所属状态</label>
				<div class="layui-input-block">
					<input type="radio" lay-filter="adi" name="tp" value="1" title="在校" checked>
					<input type="radio" lay-filter="adi" name="tp" value="0" title="社会" >
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label" id="tp_name">所属学校</label>
				<div class="layui-input-inline" id="pid">
				  <select name="pid" required lay-verify="required" lay-filter="pir" style="width:200px;">
					 <option value="" >请选择</option>
					 {volist name="plist" id="pj"}
						<option value="{$pj.id}">{$pj.name}</option>
					 {/volist}
				  </select>
				</div>
				<div class="layui-input-inline" id="cid" style="display:none;">
				  <select name="cid" lay-filter="cit" style="width:200px;">
					 <option value="" >请选择</option>
				  </select>
				</div>
				 <div class="layui-input-inline" id="sid">
				  <select name="sid" lay-filter="sih" style="width:200px;">
					 <option value="" >请选择</option>
				  </select>
				</div>
				<div class="layui-input-inline" id="ssid" style="display:none;">
				  <select name="ssid" lay-filter="ssih" style="width:200px;">
					 <option value="" >请选择</option>
				  </select>
				</div>
			  </div>
			  <div class="layui-form-item" id="school_id" style="display:none;">
				<label class="layui-form-label">学校名称</label>
				<div class="layui-input-block">
				  <input type="text" name="school_name" placeholder="请输入所属学校名称" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item" id="xx_id">
				<label class="layui-form-label">所属详细</label>
				<div class="layui-input-block">
				  <input type="text" name="unit" placeholder="请输入所属学校的院,系,级信息"  autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">通讯地址</label>
				<div class="layui-input-block">
				  <input type="text" name="site" placeholder="请输入学校或者单位地址"  required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">手机号码</label>
				<div class="layui-input-block">
				  <input type="text" name="tel" placeholder="请输入手机号码"  required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">指导老师</label>
				<div class="layui-input-block">
				  <input type="text" name="teacher" placeholder="请输入指导老师               注：单人报名请填写一名推荐老师，集体报名最多填写两名推荐老师"  required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">邮政编码</label>
				<div class="layui-input-block">
				  <input type="text" name="postcode" placeholder="请输入邮政编码"  required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item layui-form-text" style="{if $type_id==28}display:none;{else/}display:block;{/if}">
				<label class="layui-form-label" style="width: 100% !important;">{if condition="$type_id==1"}参赛人员{elseif condition="$type_id==27"/}主创人员简介{else/}选手简介{/if}</label>
				<div class="layui-input-block" style="margin-left: 0px !important;">
				  <textarea name="esc" placeholder="请输入{if condition="$type_id==1"}参赛人数及姓名{elseif condition="$type_id==27"/}主创人员简介{else/}选手简介{/if}" class="layui-textarea" ></textarea>
				</div>
			  </div>
			  <div class="layui-form-item" pane>
				<label class="layui-form-label">身份证正面照</label>
				<div class="layui-input-block">
					<input type="file" name="idcard_img" onChange="handleFiles(this,'id_img_2')" style="display:none;">
				  <a class="layui-btn" onclick="getfile_2()" style="background-color: #ffffff;color: #191616;">
					<i class="layui-icon">&#xe608;</i> 选择文件
				  </a>
				  <a style="color:#777;font-size: 15px;">请上传参赛选手身份证正面照(400*220,仅支持jpg,png,jpeg三种格式)</a>
				</div>
				<div class="layui-input-block" id="id_img_2" style="padding-left: 20px;">
					<!--<img style="width:200px" src="/public/index/user/user_img.png"/>-->
					
				</div>
				<a style="color:#777;font-size: 15px;padding-left: 220px;">注：多人请将照片压缩成rar或zip格式上传</a>
			  </div>
			   <div class="layui-form-item">
				<label class="layui-form-label">{if condition="$type_id==1"}节目名称{elseif condition="$type_id==27"/}电影名{elseif condition="$type_id==28"/}动漫创意作品名称{else/}作品名称{/if}</label>
				<div class="layui-input-block">
				  <input type="text" name="wname" required lay-verify="required" placeholder="请输入{if condition="$type_id==1"}节目名称{elseif condition="$type_id==27"/}电影名{elseif condition="$type_id==28"/}动漫创意作品名称{else/}作品名称{/if}"  autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item layui-form-text" style="{if condition="$type_id==22"}display:none;{else/}display:block;{/if}" >
				<label class="layui-form-label" style="width: 100% !important;">{if condition="$type_id==1"}节目简介{elseif condition="$type_id==27"/}剧本简介{elseif condition="$type_id==31"/}作品简介及创作思路{else/}作品简介{/if}</label>
				<div class="layui-input-block" style="margin-left: 0px !important;">
				  <textarea name="intro" placeholder="请输入{if condition="$type_id==1"}节目简介{elseif condition="$type_id==27"/}剧本简介{elseif condition="$type_id==31"/}作品简介及创作思路{else/}作品简介{/if}" class="layui-textarea" ></textarea>
				</div>
			  </div>
			  <div class="layui-form-item layui-form-text" style="{if condition="$type_id==27 or $type_id==28 or $type_id==31"}display:block;{else/}display:none;{/if}" >
				<label id="dsb" class="layui-form-label" style="width: 100% !important;    font-size: 18px;">
				{if condition="$type_id==27"}
						注：10月20日截止投稿，请提交剧本（纸质档和电子档各一份）至官方指定邮箱和地址。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>
				{elseif condition="$type_id==28"/}
						注：9月30日截止投稿，请提交(动漫：电子档/漫画：纸质档)作品至官方指定邮箱。&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>
				{elseif condition="$type_id==31"/}
						注：9月30日截止投稿 请提交(文学：电子档纸质档各一份/书法，绘画，摄影：纸质档)作品寄送至官方指定地址&nbsp;&nbsp;<a href='/index/news/news_info/news_id/62.html' target='_blank' style='color: #488ff9;cursor: pointer;font-size: 16px;'>详细说明</a>	
				{/if}</label>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">推荐单位</label>
				<div class="layui-input-block">
				  <input type="text" name="rec" placeholder="请输入推荐单位"  autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item">
				<label class="layui-form-label">推荐单位联系人及电话</label>
				<div class="layui-input-block">
				  <input type="text" name="rectel" placeholder="请输入联系人及电话"  autocomplete="off" class="layui-input">
				</div>
			  </div>
			  <div class="layui-form-item" pane>
				<label class="layui-form-label">是否公开</label>
				<div class="layui-input-block">
				<div class="layui-input-inline" style="margin-left: 0px;">
					<input type="radio" name="so_open" value="1" title="是" checked>
					<input type="radio" name="so_open" value="0" title="否" >
				</div>
				<div class="layui-form-mid layui-word-aux">注:是否在报名审核通过后在选手列表里显示个人头像及参赛基本个人信息</div>
				</div>
				
			  </div>
              <div class="layui-form-item">
                <input type="button" value="确认提交" class="layui-btn" key="set-mine" lay-filter="formDemo" lay-submit/>
              </div>
            </form>
			</div>
		</div>
	</div>
{/block}
{block name="js"}
{load href="__STATIC__/layui/layui.js" /}
{load href="__STATIC__/layui/admin.js" /}
<script type="text/javascript" src="__STATIC__/../index/js/player_index_js.js?ver={:date('ymd')}"></script>
<script>
//获取图片
window.URL = window.URL || window.webkitURL;


	function handleFiles(obj,id_img) {
		
			var fileList = document.getElementById(id_img);
			var files = obj.files;
			if(id_img=="id_img_2")
			{
				var photoExt=obj.value.substr(obj.value.lastIndexOf(".")).toLowerCase();//获得文件后缀名
					if(photoExt=='.rar'||photoExt=='.zip'){
						fileList.innerHTML="";
						
						fileList.append("   已选择文件："+obj.value);
						return false;
					}
			}

			img = new Image();
			if(window.URL){	
				img.src = window.URL.createObjectURL(files[0]); //创建一个object URL，并不是你的本地路径
				img.className = "lay-img";
				img.style="width:200px";
				img.onload = function(e) {
					window.URL.revokeObjectURL(this.src); //图片加载后，释放object URL
				}
				if(fileList.firstElementChild){
					// fileList.removeChild(fileList.firstElementChild);
					fileList.innerHTML="";
				} 
				fileList.appendChild(img);
			}else if(window.FileReader){
				//opera不支持createObjectURL/revokeObjectURL方法。我们用FileReader对象来处理
				var reader = new FileReader();
				reader.readAsDataURL(files[0]);
				reader.onload = function(e){	
						img.src = this.result;
						img.className = "lay-img";
						// fileList.removeChild(fileList.firstElementChild);
						fileList.innerHTML="";
						fileList.appendChild(img);
				}
			}else
			{
				//ie
				obj.select();
				obj.blur();
				var nfile = document.selection.createRange().text;
				document.selection.empty();
				img.src = nfile;
				img.className = "lay-img";
				// fileList.removeChild(fileList.firstElementChild);
				fileList.innerHTML="";
				fileList.appendChild(img);
			}
		
	}



</script>

{/block}