{extend name="public:base"/}
{block name="body"}
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
  <ul class="layui-tab-title">
    <li onclick="javascript:window.location.href='{:url('button/index')}'">菜单列表</li>
    <li class="layui-this">添加菜单</li>
  </ul>
</div> 
<form class="layui-form" action="" method="post" id="fid" enctype="multipart/form-data">
  <div class="layui-form-item" style="width:600px">
    <label class="layui-form-label">菜单名称</label>
    <div class="layui-input-block">
      <input type="text" name="name" lay-filter="name" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item" style="width:600px">
    <label class="layui-form-label">菜单类别</label>
    <div class="layui-input-block">
      <select name="pid" required lay-verify="required" lay-filter="pname" style="width:200px;">
		 <option value="">请选择</option>
		 <option value="0">一级列表菜单</option>
		 <option value="1">一级普通菜单</option>
		 <option value="2">二级普通菜单</option>
      </select>
    </div>
  </div>
  <div class="layui-form-item" style="width:600px;" id="div1">
    <label class="layui-form-label">上级菜单</label>
    <div class="layui-input-block">
      <select name="pname" style="width:200px;">
		 <option value="">请选择</option>
		 {volist name="list" id="vo"}
		 <option value="{$vo.id}">{$vo.name}</option>
		 {/volist}
      </select>
    </div>
  </div>
  <div class="layui-form-item" style="width:600px" id="div2">
    <label class="layui-form-label">菜单效果</label>
    <div class="layui-input-block">
      <select name="type" style="width:200px;">
		 <option value="">请选择</option>
		 <option value="click">推送图文</option>
		 <option value="view_limited">跳转图文</option>
		 <option value="view">跳转网页</option>
      </select>
    </div>
  </div>
  <div class="layui-form-item" style="width:800px" id="div3">
    <label class="layui-form-label">菜单编码</label>
    <div class="layui-input-block">
      <input type="text" name="url" lay-filter="url" placeholder="请输入编码" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <input type="button" class="layui-btn" lay-submit lay-filter="formDemo" value="立即提交" />
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>

{/block}
{block name="js"}
{load href="__JS__/jquery.js" /}
<script src="_admin_/ueditor/ueditor.config.js"></script>
<script src="_admin_/ueditor/ueditor.all.min.js"></script>
<script src="_admin_/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
//实例化编辑器
//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
UE.getEditor('content',{initialFrameWidth:800,initialFrameHeight:400,});

//Demo
layui.use(['form'], function(){
  var form = layui.form();

  //监听开关
  form.on('select(pname)', function(data){
	
		if(data.value=="0"){
			$("#div1").css('display','none');
			$("#div2").css('display','none');
			$("#div3").css('display','none');
		}else if(data.value=="1"){
			$("#div1").css('display','none');
			$("#div2").css('display','block');
			$("#div3").css('display','block');
		}else if(data.value=="2"){
			$("#div1").css('display','block');
			$("#div2").css('display','block');
			$("#div3").css('display','block');
		}

  });



  //监听提交
  form.on('submit(formDemo)', function(data){
	 
		var i=data.field['pid'];
		if(i=='1'){
			if(data.field['type']=='')
			{
				layer.msg("菜单类别不能为空！");
			}
			if(data.field['url']=='')
			{
				layer.msg("菜单编码不能为空！");
			}
		}else if(i=='2'){
			if(data.field['pname']=='')
			{
				layer.msg("上级菜单不能为空！");
			}
			if(data.field['type']=='')
			{
				layer.msg("菜单类别不能为空！");
			}
			if(data.field['url']=='')
			{
				layer.msg("菜单编码不能为空！");
			}
		}

	    $("#fid").submit();
  });
});
</script>
{/block}