<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
		  {block name="title"}青年文化艺术节{/block}-{:cookie('remark')['title']}</title>
		  <meta name="keywords" content="{:cookie('remark')['keyword']}">
		  <meta name="description" content="{:cookie('remark')['description']}">
		  <link rel="stylesheet" type="text/css" href="__index__/css/index.css"/>
		  <style>
			.box_shux{min-height: 600px;}
			.col_act{min-height: 600px;}

			.rig paging_list{padding-right: 20px;}

			.new_banner img{width:100%;height:400px;}

			.a{color:#adadad;}

			.acti{padding: 20px 40px 20px;width: 738px;overflow: hidden;border-radius: 10px;}
			.log_reg_box{position: fixed;width: 400px;overflow:hidden;left: 50%;top: 50%;background:#fff;margin:-140px 0 0 -200px;z-index: 29;padding-bottom: 20px;}
			.zhegai{width: 100%;height: 100%;background: #000;opacity: 0.5;position: fixed;left: 0;top: 0;z-index: 20;}
			.log_reg_tit,.log_reg_tit b,.log_info li{height: 50px;line-height: 50px;}
			.log_reg_tit,.log_reg_tit b,.log_info li span,.log_info li a{text-align: center;}
			.log_reg_tit{width: 100%;height: 49px;position: relative;border-bottom: 1px solid #ccc;background: #333;color: #fff;}
			.log_reg_tit b{display: block;position: absolute;top: 0;right: 0;width: 50px;font-size: 24px;font-weight: 100;cursor: pointer;}
			.log_info{overflow:hidden;padding: 0 10px;}
			.log_info li{width: 100%;overflow: hidden;}
			.log_info li span{width: 100px;display: inline-block;}
			.log_info li input{width: 260px;height: 20px;display: inline-block;margin-top: 10px;padding:5px;outline: none;}
			.log_info li a{width: 80px;height: 100%;cursor: pointer;margin-left: 10px;}
			.log_info li .lan{background: #333;color: #fff;width: 240px;height: 40px;border: 0;margin: 5px 0 0 75px;border-radius: 10px;cursor: pointer;}
			.log_reg{height: 20px;margin-top: 10px;}
			.log_reg li{width: 50px;margin-left: 20px;text-align: center;line-height: 20px;float: left;cursor: pointer;}
			.log_reg li.cli a{color: #1995E4;}
		  </style>
	{block name="css"}

	{/block}
	</head>
	<body>
		<div class="zhegai" style="display:none;"></div>
		<div class="log_reg_box" style="display:none;">
			<ul class="log_reg_tit">
					青年文化艺术节
				<b>X</b>
			</ul>
			<div style="width:100%;overflow: hidden;">
				<ul class="log_info" id="login-form">
					<li><span class="lef">账&nbsp;&nbsp;&nbsp;&nbsp;号：</span><input class="lef" type="text" id="user" placeholder="请输入账号" /></li>
					<li><span class="lef">密&nbsp;&nbsp;&nbsp;&nbsp;码：</span><input class="lef" type="password" id="pwd" placeholder="请输入密码" /></li>
					<li><input type="button" class="lan" id="login" value="登陆" /></li>
				</ul>
				<ul class="log_info" id="reg-form" style="display: none;">
					<li><span class="lef">手机号：</span><input class="lef" type="text" id="username" placeholder="请输入账号" /></li>
					<li><span class="lef">密&nbsp;&nbsp;&nbsp;&nbsp;码：</span><input class="lef" id="password" type="password" placeholder="请输入密码" /></li>
					<li><span class="lef">确认密码：</span><input class="lef" type="password" id="password1" placeholder="请输入密码" /></li>
					<li><span class="lef">验证码：</span><input class="lef" style="width: 160px;" type="text" id="yzm" placeholder="验证码" /><a class="lef" id="sendcode">获取验证码</a></li>
					<li><input type="button" class="lan" id="reg" value="注册" /></li>
				</ul>
			</div>
			<ul class="log_reg">
				<li class="cli"><a>登陆</a></li>
				<li><a>注册</a></li>
			</ul>
		</div>
		<div class="inde_box">
			<div class="inde_box1"></div>
			<div class="inde_box2"></div>
			<div style="z-index:999;cursor: pointer;" onclick="Javascript:location.href='{:url('player/index')}'" class="sign_up"></div>
			<div class="box">
		<div class="box_lef lef">
			<div class="log"></div>
		{block name="nav"}
			<ul class="nav" style="position: relative;z-index: 2;">
				<a href="{:url('index/index')}"><li class="{if session('index_nav')=='index'}cli{/if}">网站首页</li></a>
				<a href="{:url('news/index')}"><li class="{if session('index_nav')=='news'}cli{/if}">新闻资讯</li></a>
				<a href="{:url('live/index')}"><li class="{if session('index_nav')=='live'}cli{/if}">赛事直播</li></a>
				<a href="{:url('school/index')}"><li class="{if session('index_nav')=='school'}cli{/if}">校区集锦</li></a>
				<a href="{:url('module/index')}"><li class="{if session('index_nav')=='module'}cli{/if}" target="_blank">社团活动</li></a>
				<a {if $Think.session.user_auth.id!=null}href="{:url('login/index')}"{else/} id="lr" {/if}><p style="color: #fff;">{if $Think.session.user_auth.id!=null}个人中心{else/}注册/登陆{/if}</p></a>
				{if $Think.session.user_auth.id!=null}<a href="{:url('login/logout')}"><p style="margin-top: 2px;" class="">退出</p></a>{/if}
			</ul>
		{/block}
		{block name="left"}
			
		{/block}
	</div>
{block name="right"}

{/block}

{block name="foonter"}
	<div class="foot">
		<div class="foot_box">
			<div class="QR_code lef">
				<img src="__index__/img/02.png"/>
			</div>
			<div class="foot_list rig">
				<p>主办：湖南省军区政治部、共青团湖南省委、湖南省教育厅、湖南省文化厅、湖南省全民国防教育委员会办公室、湖南省文学艺术界联合会、湖南省演艺集团、湖南省青年联合会、湖南省学生联合会 版权所有 技术支持：湖南亿虹青峰文化传播有限公司 组委会办公地址：湖南省长沙市天心区湘府西路1号</p>
				<p>信息网络传播许可证：19255107 互联网新闻信息服务许可证：461205036</p>
				<p>Information network dissemination license: 19255107 Internet news information services license: 461205036</p>
			</div>
		</div>
	</div>
{/block}
</div>

<script src="__index__/js/jquery-1.8.3.js" type="text/javascript" charset="utf-8"></script>
<script src="__index__/js/common.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){
		$(".log_reg li").click(function(){
			$(this).addClass("cli").siblings().removeClass("cli")
			$(".log_info").eq($(this).index()).show().siblings().hide();
		})
		$(".log_reg_tit b").click(function(){
			$(".log_reg_box").hide();
			$(".zhegai").hide();
		})
		$("#lr").click(function(){
			$(".log_reg_box").show();
			$(".zhegai").show();
		})
		
	})

		//点击获取验证码按钮
		document.getElementById("sendcode").addEventListener("click", function(){
			//验证手机号
			var retel = /^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
			var mobile = document.getElementById("username").value;

			//var verify = document.getElementById("verify").value;
			//else if(!verify || verify == ''){mui.alert("图形码必须填写");}

			if(!retel.exec(mobile)){
				alert("手机号码格式不正确");
			}else{
				//倒计时60秒
				var obj = document.getElementById("sendcode");
				disableWait(60, obj, "秒后重新获取");
				
				//发送验证码
				$.post('{:url('login/reg_yzm')}',{
						phone: mobile
					},function(data){
						if(data == null) {
							alert('服务端错误');
							return;
						}
						if(data.status == 0) {
							alert(data.message);
							return;
						}
						alert('发送成功');
					},'json'
				);
			}
			
		});


		//点击注册按钮
		document.getElementById("reg").addEventListener("click", function(){
			//判断input是否为空
			check = true;
			$("#reg-form input").each(function() {
				//若当前input为空，则alert提醒 
				if(!this.value || this.value.trim() == "") {
					var label = this.previousElementSibling;
					alert(label.innerText + "不允许为空");
					check = false;
					return false;
				}
			});
			//验证手机号
			var retel = /^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
			var mobile = document.getElementById("username").value;
			if(!retel.exec(mobile)){
				alert("手机号码格式不正确");
				check = false;
			}
			//验证密码
			var password = document.getElementById("password").value;
			var password1 = document.getElementById("password1").value;
			if(password != password1){
				alert("两次输入密码不相符");
				check = false;
			}
			//校验通过，继续执行业务逻辑 
			if(check){
				//ajax交互，进行注册//
				$.post('{:url('login/reg')}',{
						phone: document.getElementById("username").value,
						password: document.getElementById("password1").value,
						yzm: document.getElementById("yzm").value
					},function(data){
						if(data == null) {
                            alert('服务端错误');
                            return;
                        }
                        if(data.status == 0) {
                            alert(data.message);
                            return;
                        }
                        alert('注册成功');
                       location.href='{:url('usercontrol/index')}'
					},'json'
				);
			}
		});

		
		
		//点击登录按钮
		document.getElementById("login").addEventListener("click", function(){
			//判断input是否为空
			check = true;
			$("#login-form input").each(function() {
				//若当前input为空，则alert提醒 
				if(!this.value || this.value.trim() == "") {
					var label = this.previousElementSibling;
					alert(label.innerText + "不允许为空");
					check = false;
					return false;
				}
			});
			//校验通过，继续执行业务逻辑 
			if(check){
				//ajax交互，进行注册//
				$.post('{:url('login/login')}',{
						user: document.getElementById("user").value,
						pwd: document.getElementById("pwd").value
					},function(data){
						if(data == null) {
                            alert('服务端错误');
                            return;
                        }
                        if(data.status == 0) {
                            alert(data.message);
                            return;
                        }
                        alert('登录成功');
                       location.href='{:url('usercontrol/index')}'
					},'json'
				);
			}
		});

		
		//倒计时通用按钮js
		function disableWait(t, obj, waitMessage) {
			var objTag = obj.tagName.toLowerCase();
			if (objTag !== "input" && objTag != "button") {
				return;
			}

			var v = objTag !== "input" ? obj.innerText : obj.value;
			var i = setInterval(function() {
				if (t > 0) {
					switch (objTag) {
						case "input":
							obj.value = (--t) + waitMessage;
							break;
						case "button":
							obj.innerText = (--t) + waitMessage;
							break;
						default:
							break;
					}
					obj.disabled = true;
				} else {
					window.clearInterval(i);
					switch (objTag) {
						case "input":
							obj.value = v;
							break;
						case "button":
							obj.innerText = v;
							break;
						default:
							break;
					}
					obj.disabled = false;
				}
			}, 1000);
		}

</script>
{block name="js"}
	<script>
		$(function(){
				var dir_act = $(".dir_act_rig_lef li");
				$(".dir_act_rig_lef li").click(function(){
					$(".dir_act_rig_lef li").removeClass("cilc");
					$(this).addClass("cilc").siblings().removeClass("cilc");
					$(".dir_exhibition img").attr("src",$(this).find("img").attr("src"))
					$(".dir_act_lef li").eq($(this).attr("index")).addClass("cli").siblings().removeClass("cli")
					console.log($(".dir_act_lef .cli").index());
				})
				$(".ass_acti_list li").click(function(){
					$(".ass_acti_rig.rig").css("display","none")
					$(".ass_acti_rig.rig").eq($(this).index()).css("display","block");
				})
				$(".dir_act_lef li").click(function(){
					$(this).addClass("cli").siblings().removeClass("cli");
						$(".dir_act_rig_lef li").removeClass("cilc");
						var kk = $(".dir_act_rig_lef li").eq($(this).index());
						$(".dir_exhibition img").attr("src",kk.addClass("cilc").find("img").attr("src"))
				})
			})
	</script>
{/block}
	</body>
</html>
